# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

./config.yml
AAAAB3NzaC1yc2EAAAADAQABAAACAQC/eM/2gmm349YzJJC5DF3mju0XA58SBtNlDm4kaA182BC5u0lAyopOq9uKOLkTnXD1NSK7TiX/eG84zyYl98nQ2HU5MrzDfat6bUScGsoKhR0XVb0pqDS1ET2/niDDC4nQjfNcF+r3fpYAL+KRS909YZUrpiCZBAjKT4votHr9wMNuiJi8wolCCr7S/H7ybPHspgjBB+X4UCIesQemEyMD7YeYYrm03X4H2UTR9WQ2QX8M7fbRgRTseTW/HvyopYic03jDzqDuMGiDe1lvMaNv3IWp1tBnLASSQwpgQ3vutlZK5X23mzYdVmYjYcybREbkf/+7/wHfOTZ+0jmNnSBv+Q9nKly0bc1PfsF4fqqQSNl/JJ1d1TejlKQNUDxxlN3aKTX6RsIauGwQ724qWZoEDgX9C6e5k4kQ4ddrb2eXdpk5qk6g5KK//eZTj6frAlXJHgr6sCPdO1qIkpUNBRllSWQJMXcCzOVIXdvoquvu63K5cUoNYCUnD01wliYUyeuvfCdfP165jt5FQ+Tol15T1r0eX4K+tS5wMfE0mIE8u9eUO6uxsfK/2KXvXTy7WvOzH91+qYK/D9Pvlx7Czd/jBxB8SFF9LKpaa6uxvMgHp7pm0Tlkd80ay1//Y38OUBLLxFQyFxm6zdQicf6j2TWG68d21evkYNEUKtuDeTmbEw==